<!doctype html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> List person</h1>
    <table class="table table-bordered">
    <th>STT</th>
    <th>Name</th>
    <th>Phone</th>
    <th>City</th>
    <%result_person=JSON.parse(result_person);%>
    <!-- <%=result_person[0]._id%> -->
    <% var size = Object.keys(result_person).length;
     for(var i = 0; i < size; ++i){%>
     <tr class="success">
         <td><%=i+1%></td>
         <td><%=result_person[i].name %></td>
         <td><%=result_person[i].phone_number %></td>
         <td><%=result_person[i].city %></td>
         <td><button class="btn btn-danger" onclick=" window.location.href = 'http://localhost:5000/api/person/del_id/?id=<%=result_person[i]._id%>'">Delete</button></td>
          <td><button class="btn btn-primary" onclick=" window.location.href = 'http://localhost:5000/api/person/update/?id=<%=result_person[i]._id%>'">Update</button></td>

     </tr>
     <%}%>
    
    </table>

</div>

</div>
</body>
</html>
