<!doctype html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Update form</h1>
    <form action="/api/person/update/?id=<%=my_id%>" method="post">
    <div class="form-group">
            <label>New Name:</label>
            <input type="text" class="form-control" name="newname">
        </div>
        <div class="form-group">
            <label>New Phone:</label>
            <input type="number" class="form-control" name="newphone">
        </div>
        <div class="form-group">
            <label>New city:</label>
            <input type="text" class="form-control" name="newcity">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Update</button>
    </form>
</div>

</div>
</body>
</html>
